@import "./theme.css";


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 20%;
    background-color: var(--accent);
    color:   var(--primary);
}

footer, img{
    width: 5%;
    height: auto;
    text-align: center;    
}