@import "./theme.css";


header{
    position:  fixed;
    width: 20%;
    height: 100%;
    align-items: center; 
    background-color: var(--secondary);
    font-size: 7px;
}

#profil-picture{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: auto;
    border: 3px solid var(--accent);
    border-radius: 50%;
  
}
header h3{
    color: var(--primary);
    font-family: Amatic SC;
    font-size: 5em;
    text-align: center;
}
header h4{
    color: var(--background);
    font-family: pacifico;
    font-size: 3em;
    text-align: center;
    font-style: italic;
    padding: 20px 0px 20px 0px;
}
header nav ul{
    padding: 10px;
}
header nav ul li button{
    background-color: var(--accent);
    padding: 10px 30px;        
    border-radius: 15px;
    text-align: center;
    font-size: 2.5em;
}
header nav ul li{
   
    list-style: none;
    margin: 6px;
    text-align: center;
}

header nav ul li a{
    text-decoration: none;
    
}
header nav ul li button:hover{
    color: var(--secondary);
}
